@using Microsoft.AspNet.Identity
<script src="~/Scripts/Pages/user.js"></script>

<div id="UserApp">
    <div ng-controller="UserController">
        <ul class="nav navbar-nav navbar-right" ng-hide="user == ''">
            <li>
                @*@Html.ActionLink("Hello {{user}}!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
                <a style="font-weight: bold;">Hello {{user}}!</a>
            </li>
            <li><a ng-click="logOff()" style="font-weight: bold;">Log off</a></li>
        </ul>


        <ul class="nav navbar-nav navbar-right" ng-show="user == ''">
            @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
            @*<li><span style="color: white;" ng-show="user == ''">NEMA!</span></li>*@


            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Log In</b> <span class="caret"></span></a>
                <ul id="login-dp" class="dropdown-menu">
                    <li>
                        <div class="row">
                            <div class="col-md-12">
                                <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                                    <div class="form-group">
                                        <label class="sr-only" for="exampleInputEmail2">Username</label>
                                        <input type="text" class="form-control" id="exampleInputUsername2" placeholder="Username" ng-model="username" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="exampleInputPassword2">Password</label>
                                        <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" ng-model="password" required>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-theme btn-block" ng-click="logIn()">Sign in</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>



            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Register</b> <span class="caret"></span></a>
                <ul id="login-dp" class="dropdown-menu">
                    <li>
                        <div class="row">
                            <div class="col-md-12">
                                <form name="form">
                                    <div class="form-group">
                                        <label class="sr-only" for="exampleInputEmail2">Username</label>
                                        <input type="text" class="form-control" id="exampleInputUsername2" placeholder="Username" ng-model="username" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="exampleInputPassword2">Password</label>
                                        <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" ng-model="password" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="exampleInputPassword2">Confirm Password</label>
                                        <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Confirm Password" ng-model="passwordConfirm" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="exampleInputPassword2">Email</label>
                                        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" ng-model="email" required>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-theme btn-block" ng-click="register()">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</div>

@*@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
        <div ng-app="UserApp">
            <div ng-controller="UserController">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @Html.ActionLink("Hello {{username}}!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                    </li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                </ul>

            </div>
        </div>
    }
}
else
{
    <div ng-app="UserApp">
        <div ng-controller="UserController">
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                <li><span style="color: white;" ng-show="username == ''">NEMA!</span></li>


                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
                    <ul id="login-dp" class="dropdown-menu">
                        <li>
                            <div class="row">
                                <div class="col-md-12">
                                    <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                                        <div class="form-group">
                                            <label class="sr-only" for="exampleInputEmail2">Username</label>
                                            <input type="email" class="form-control" id="exampleInputUsername2" placeholder="Username" required>
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only" for="exampleInputPassword2">Password</label>
                                            <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>



                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Register</b> <span class="caret"></span></a>
                    <ul id="login-dp" class="dropdown-menu">
                        <li>
                            <div class="row">
                                <div class="col-md-12">
                                    <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                                        <div class="form-group">
                                            <label class="sr-only" for="exampleInputEmail2">Username</label>
                                            <input type="email" class="form-control" id="exampleInputUsername2" placeholder="Username" required>
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only" for="exampleInputPassword2">Password</label>
                                            <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only" for="exampleInputPassword2">Confirm Password</label>
                                            <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Confirm Password" required>
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only" for="exampleInputPassword2">Email</label>
                                            <input type="password" class="form-control" id="exampleInputEmail2" placeholder="Email address" required>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
}*@
